/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --toolbarbutton-icon-fill-attention: var(--lwt-toolbarbutton-icon-fill-attention, #0a84ff);
}

#wdw_aecOptionsWindow {
  -moz-appearance: none;
  font: message-box;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
}

#aec-prefBox {
  position: relative;
}

#aec-pref-category-box {
  background-color: #ebebef;
  width: 240px;
}

#aec-preferencesContainer {
  padding: 40px 28px;
  overflow: auto;
}

#wdw_aecOptionsWindow prefpane {
  max-width: 800px;
  padding: 0;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
}

#wdw_aecOptionsWindow prefpane:not([selected]) {
  display: none;
}

/* Preference tabs */
radio[pane=aec-generalPane] > .radio-check {
  list-style-image: url("chrome://attachmentextractor_cont/skin/general.svg");
}
radio[pane=aec-filenamePane] > .radio-check {
  list-style-image: url("chrome://attachmentextractor_cont/skin/compose.svg");
}
radio[pane=aec-postPane] > .radio-check {
  list-style-image: url("chrome://attachmentextractor_cont/skin/goforward.svg");
}
radio[pane=aec-autoPane] > .radio-check {
  list-style-image: url("chrome://attachmentextractor_cont/skin/filter.svg");
}
radio[pane=aec-advancedPane] > .radio-check {
  list-style-image: url("chrome://attachmentextractor_cont/skin/advanced.svg");
}
